In [1]:
pip install numpy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in c:\users\lab4-studentpc02\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (2.2.2)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeableNote: you may need to restart the kernel to use updated packages.

Requirement already satisfied: pandas in c:\users\lab4-studentpc02\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\lab4-studentpc02\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas) (2.2.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\lab4-studentpc02\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\lab4-studentpc02\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\lab4-studentpc02\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\lab4-studentpc02\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [3]:
pip install matplotlib

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: matplotlib in c:\users\lab4-studentpc02\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (3.10.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\lab4-studentpc02\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\lab4-studentpc02\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\lab4-studentpc02\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib) (4.55.3)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\lab4-studentpc02\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: numpy>=1.23 in c:\users\lab4-studentpc02\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib) (2.2.2)
Requirement already satisfied: packaging>=20.0 in c:\users\lab4-studentpc02\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in c:\users\lab4-studentpc02\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\lab4-studentpc02\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib) (3.2.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\lab4-studentpc02\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\lab4-studentpc02\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install seeborn

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: seeborn in c:\users\lab4-studentpc02\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (0.4.0)
Requirement already satisfied: scikit-learn in c:\users\lab4-studentpc02\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from seeborn) (1.6.1)
Requirement already satisfied: numpy in c:\users\lab4-studentpc02\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from seeborn) (2.2.2)
Requirement already satisfied: pandas in c:\users\lab4-studentpc02\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from seeborn) (2.2.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\lab4-studentpc02\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas->seeborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\lab4-studentpc02\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas->seeborn) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\lab4-studentpc02\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas->seeborn) (2024.2)
Requirement already satisfied: scipy>=1.6.0 in c:\users\lab4-studentpc02\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from scikit-learn->seeborn) (1.15.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\lab4-studentpc02\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from scikit-learn->seeborn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\lab4-studentpc02\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from scikit-learn->seeborn) (3.5.0)
Requirement already satisfied: six>=1.5 in c:\users\lab4-studentpc02\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from python-dateutil>=2.8.2->pandas->seeborn) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [6]:
birdfeather = pd.read_csv('datasets\\penguins.csv')

In [7]:
birdfeather

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,1,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,2,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,3,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,4,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,5,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...,...
339,340,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,341,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,342,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,343,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,344,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

In [8]:
birdfeather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rowid              344 non-null    int64
 1   species            344 non-null    object
 2   island             344 non-null    object
 3   bill_length_mm     342 non-null    float64
 4   bill_depth_mm      342 non-null    float64
 5   flipper_length_mm  342 non-null    float64
 6   body_mass_g        342 non-null    float64
 7   sex                333 non-null    object
 8   year               344 non-null    int64
dtypes: float64(4), int64(2), object(3)
memory usage: 24.3+ KB

In [9]:
birdfeather.describe()

,rowid,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,year
count,344.000000,342.000000,342.000000,342.000000,342.000000,344.000000
mean,172.500000,43.921930,17.151170,200.915205,4201.754386,2008.029070
std,99.448479,5.459584,1.974793,14.061714,801.954536,0.818356
min,1.000000,32.100000,13.100000,172.000000,2700.000000,2007.000000
25%,86.750000,39.225000,15.600000,190.000000,3550.000000,2007.000000
50%,172.500000,44.450000,17.300000,197.000000,4050.000000,2008.000000
75%,258.250000,48.500000,18.700000,213.000000,4750.000000,2009.000000
max,344.000000,59.600000,21.500000,231.000000,6300.000000,2009.000000

In [10]:
birdfeather['species']

0         Adelie
1         Adelie
2         Adelie
3         Adelie
4         Adelie
         ...
339    Chinstrap
340    Chinstrap
341    Chinstrap
342    Chinstrap
343    Chinstrap
Name: species, Length: 344, dtype: object

In [11]:
birdfeather['rowid']

0        1
1        2
2        3
3        4
4        5
      ...
339    340
340    341
341    342
342    343
343    344
Name: rowid, Length: 344, dtype: int64

In [12]:
birdfeather['bill_length_mm']

0      39.1
1      39.5
2      40.3
3       NaN
4      36.7
       ...
339    55.8
340    43.5
341    49.6
342    50.8
343    50.2
Name: bill_length_mm, Length: 344, dtype: float64

In [13]:
birdfeather['bill_depth_mm']

0      18.7
1      17.4
2      18.0
3       NaN
4      19.3
       ...
339    19.8
340    18.1
341    18.2
342    19.0
343    18.7
Name: bill_depth_mm, Length: 344, dtype: float64

In [14]:
birdfeather['flipper_length_mm']

0      181.0
1      186.0
2      195.0
3        NaN
4      193.0
       ...
339    207.0
340    202.0
341    193.0
342    210.0
343    198.0
Name: flipper_length_mm, Length: 344, dtype: float64

In [15]:
birdfeather['body_mass_g']

0      3750.0
1      3800.0
2      3250.0
3         NaN
4      3450.0
        ...
339    4000.0
340    3400.0
341    3775.0
342    4100.0
343    3775.0
Name: body_mass_g, Length: 344, dtype: float64

In [16]:
birdfeather['species'].values

array(['Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie',
       'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie',
       'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie',
       'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie',
       'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie',
       'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie',
       'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie',
       'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie',
       'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie',
       'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie',
       'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie',
       'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie',
       'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie',
       'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie',
       'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie',
       'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie',
       'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie',
       'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie',
       'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie',
       'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie',
       'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie',
       'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie',
       'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie',
       'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie',
       'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie',
       'Adelie', 'Adelie', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo',
       'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo',
       'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo',
       'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo',
       'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo',
       'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo',
       'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo',
       'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo',
       'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo',
       'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo',
       'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo',
       'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo',
       'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo',
       'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo',
       'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo',
       'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo',
       'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo',
       'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo',
       'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo',
       'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo',
       'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo',
       'Chinstrap', 'Chinstrap', 'Chinstrap', 'Chinstrap', 'Chinstrap',
       'Chinstrap', 'Chinstrap', 'Chinstrap', 'Chinstrap', 'Chinstrap',
       'Chinstrap', 'Chinstrap', 'Chinstrap', 'Chinstrap', 'Chinstrap',
       'Chinstrap', 'Chinstrap', 'Chinstrap', 'Chinstrap', 'Chinstrap',
       'Chinstrap', 'Chinstrap', 'Chinstrap', 'Chinstrap', 'Chinstrap',
       'Chinstrap', 'Chinstrap', 'Chinstrap', 'Chinstrap', 'Chinstrap',
       'Chinstrap', 'Chinstrap', 'Chinstrap', 'Chinstrap', 'Chinstrap',
       'Chinstrap', 'Chinstrap', 'Chinstrap', 'Chinstrap', 'Chinstrap',
       'Chinstrap', 'Chinstrap', 'Chinstrap', 'Chinstrap', 'Chinstrap',
       'Chinstrap', 'Chinstrap', 'Chinstrap', 'Chinstrap', 'Chinstrap',
       'Chinstrap', 'Chinstrap', 'Chinstrap', 'Chinstrap', 'Chinstrap',
       'Chinstrap', 'Chinstrap', 'Chinstrap', 'Chinstrap', 'Chinstrap',
       'Chinstrap', 'Chinstrap', 'Chinstrap', 'Chinstrap', 'Chinstrap',
       'Chinstrap', 'Chinstrap', 'Chinstrap'], dtype=object)

In [17]:
birdfeather

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,1,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,2,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,3,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,4,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,5,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...,...
339,340,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,341,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,342,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,343,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,344,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

In [18]:
birdfeather['weight'] = birdfeather['body_mass_g'] / 1000

In [19]:
birdfeather['weight'] = np.round(birdfeather['body_mass_g'] / 1000 , 2)

In [20]:
birdfeather

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,weight
0,1,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007,3.75
1,2,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007,3.80
2,3,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007,3.25
3,4,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007,NaN
4,5,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007,3.45
...,...,...,...,...,...,...,...,...,...,...
339,340,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009,4.00
340,341,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009,3.40
341,342,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009,3.78
342,343,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009,4.10
343,344,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009,3.78

In [21]:
birdfeather.isnull()

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,weight
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,True,True,True,True,True,False,True
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
339,False,False,False,False,False,False,False,False,False,False
340,False,False,False,False,False,False,False,False,False,False
341,False,False,False,False,False,False,False,False,False,False
342,False,False,False,False,False,False,False,False,False,False
343,False,False,False,False,False,False,False,False,False,False

In [22]:
birdfeather.isnull().sum()

rowid                 0
species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
weight                2
dtype: int64

In [23]:
birdfeather['body_mass_g'].sum()

np.float64(1437000.0)

In [24]:
birdfeather.count()

rowid                344
species              344
island               344
bill_length_mm       342
bill_depth_mm        342
flipper_length_mm    342
body_mass_g          342
sex                  333
year                 344
weight               342
dtype: int64

In [26]:
birdfeather['bill_length_mm'].mean()

np.float64(43.9219298245614)

In [28]:
birdfeather['bill_length_mm'].median()

np.float64(44.45)

In [29]:
birdfeather['bill_length_mm'].mode()

0    41.1
Name: bill_length_mm, dtype: float64

In [31]:
birdfeather['bill_length_mm'] = birdfeather['bill_length_mm'].mean()

In [33]:
birdfeather['bill_length_mm'] = birdfeather['bill_length_mm'].fillna(birdfeather['bill_length_mm'].mean())

In [34]:
birdfeather['bill_depth_mm'] = birdfeather['bill_depth_mm'].mean()

In [35]:
birdfeather['bill_depth_mm'] = birdfeather['bill_depth_mm'].fillna(birdfeather['bill_depth_mm'].mean())

In [39]:
birdfeather['flipper_length_mm'] = birdfeather['flipper_length_mm'].mean()

In [40]:
birdfeather['flipper_length_mm'] = birdfeather['flipper_length_mm'].fillna(birdfeather['flipper_length_mm'].mean())

In [43]:
birdfeather['body_mass_g'] = birdfeather['body_mass_g'].mean()

In [41]:
birdfeather['body_mass_g'] = birdfeather['body_mass_g'].fillna(birdfeather['body_mass_g'].mean())

In [44]:
birdfeather['sex'] = birdfeather['sex'].mode()

In [45]:
birdfeather['sex'] = birdfeather['sex'].fillna(birdfeather['sex'].mode())

In [47]:
birdfeather['year'] = birdfeather['year'].mode()

In [48]:
birdfeather['year'] = birdfeather['year'].fillna(birdfeather['year'].mode())

In [ ]:
birdfeather['weight'] = birdfeather['weight'].mode()

In [ ]:
birdfeather['weight'] = birdfeather['weight'].fillna(birdfeather['weight'].mode())

In [36]:
birdfeather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rowid              344 non-null    int64
 1   species            344 non-null    object
 2   island             344 non-null    object
 3   bill_length_mm     344 non-null    float64
 4   bill_depth_mm      344 non-null    float64
 5   flipper_length_mm  342 non-null    float64
 6   body_mass_g        342 non-null    float64
 7   sex                333 non-null    object
 8   year               344 non-null    int64
 9   weight             342 non-null    float64
dtypes: float64(5), int64(2), object(3)
memory usage: 27.0+ KB

In [37]:
birdfeather['year'] = birdfeather['year'].astype('category')

In [49]:
birdfeather['species'] = birdfeather['species'].astype('category')

In [50]:
birdfeather['rowid'] = birdfeather['rowid'].astype('category')

In [51]:
birdfeather['island'] = birdfeather['island'].astype('category')

In [52]:
birdfeather['sex'] = birdfeather['sex'].astype('category')

In [55]:
birdfeather.tail(200)

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,weight
144,145,Adelie,Dream,43.92193,17.15117,200.915205,4201.754386,NaN,NaN,3.00
145,146,Adelie,Dream,43.92193,17.15117,200.915205,4201.754386,NaN,NaN,3.65
146,147,Adelie,Dream,43.92193,17.15117,200.915205,4201.754386,NaN,NaN,4.25
147,148,Adelie,Dream,43.92193,17.15117,200.915205,4201.754386,NaN,NaN,3.48
148,149,Adelie,Dream,43.92193,17.15117,200.915205,4201.754386,NaN,NaN,3.45
...,...,...,...,...,...,...,...,...,...,...
339,340,Chinstrap,Dream,43.92193,17.15117,200.915205,4201.754386,NaN,NaN,4.00
340,341,Chinstrap,Dream,43.92193,17.15117,200.915205,4201.754386,NaN,NaN,3.40
341,342,Chinstrap,Dream,43.92193,17.15117,200.915205,4201.754386,NaN,NaN,3.78
342,343,Chinstrap,Dream,43.92193,17.15117,200.915205,4201.754386,NaN,NaN,4.10
343,344,Chinstrap,Dream,43.92193,17.15117,200.915205,4201.754386,NaN,NaN,3.78

In [56]:
birdfeather.head(200)

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,weight
0,1,Adelie,Torgersen,43.92193,17.15117,200.915205,4201.754386,male,2009,3.75
1,2,Adelie,Torgersen,43.92193,17.15117,200.915205,4201.754386,NaN,NaN,3.80
2,3,Adelie,Torgersen,43.92193,17.15117,200.915205,4201.754386,NaN,NaN,3.25
3,4,Adelie,Torgersen,43.92193,17.15117,200.915205,4201.754386,NaN,NaN,NaN
4,5,Adelie,Torgersen,43.92193,17.15117,200.915205,4201.754386,NaN,NaN,3.45
...,...,...,...,...,...,...,...,...,...,...
195,196,Gentoo,Biscoe,43.92193,17.15117,200.915205,4201.754386,NaN,NaN,4.75
196,197,Gentoo,Biscoe,43.92193,17.15117,200.915205,4201.754386,NaN,NaN,5.55
197,198,Gentoo,Biscoe,43.92193,17.15117,200.915205,4201.754386,NaN,NaN,4.90
198,199,Gentoo,Biscoe,43.92193,17.15117,200.915205,4201.754386,NaN,NaN,4.20
199,200,Gentoo,Biscoe,43.92193,17.15117,200.915205,4201.754386,NaN,NaN,5.40

In [57]:
birdfeather['species'] == "chinstrap"

0      False
1      False
2      False
3      False
4      False
       ...
339    False
340    False
341    False
342    False
343    False
Name: species, Length: 344, dtype: bool

In [63]:
birdfeather[birdfeather['species'] == "Chinstrap"].count()

rowid                68
species              68
island               68
bill_length_mm       68
bill_depth_mm        68
flipper_length_mm    68
body_mass_g          68
sex                   0
year                  0
weight               68
dtype: int64